.main-content{
    padding-right: 60px;
}

.title-text{
    font-weight: 800;
    letter-spacing: 2px;
}

.secondary-text{
    font-weight: 200;
    text-align: justify;
}

.aside-content{
    background: #002341;;
    padding: 8px;
    border-radius: 8px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    color: #FFFF;
}

.aside-content>h4{
    margin-top: 4px;
    padding: 4px;
    font-weight: 500;
}
.aside-content>p{
    margin-inline: 10px;
    padding: 8px;
    text-align: justify;
    font-weight: 100;
}

.img-furg{
    width: 100%;
    height: auto;
    padding-inline: 12px;
}